

/* shop product2 */

.shop-products .shop-addon .shop-product2 {
    padding-left: 25px;
    margin: 25px auto;
    background-color: #0d1e28;
    border-radius: 13px;
    box-shadow: #0005 3px 3px 9px;
    font-size: 0;
    width: 90%;
    user-select: none;
    position: relative;
}

.shop-products .shop-addon .shop-product2 .part-1 {
    width: 30%;
}

.shop-products .shop-addon .shop-product2 .part-2 {
    width: 40%;
}

.shop-products .shop-addon .shop-product2 .part-3 {
    width: 30%;
}


.shop-products .shop-addon .shop-product2 .reference,
.shop-products .shop-addon .shop-product2 .name,
.shop-products .shop-addon .shop-product2 .pack,
.shop-products .shop-addon .shop-product2 .manage,
.shop-products .shop-addon .shop-product2 .price,
.shop-products .shop-addon .shop-product2 .purchase {
    height: 100%;
    padding: 20px 0;
}

.shop-products .shop-addon .shop-product2 .reference,
.shop-products .shop-addon .shop-product2 .name,
.shop-products .shop-addon .shop-product2 .pack,
.shop-products .shop-addon .shop-product2 .manage,
.shop-products .shop-addon .shop-product2 .manage .minus,
.shop-products .shop-addon .shop-product2 .manage .quantity,
.shop-products .shop-addon .shop-product2 .manage .add,
.shop-products .shop-addon .shop-product2 .price,
.shop-products .shop-addon .shop-product2 .purchase {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.shop-products .shop-addon .shop-product2 .reference,
.shop-products .shop-addon .shop-product2 .name,
.shop-products .shop-addon .shop-product2 .pack,
.shop-products .shop-addon .shop-product2 .manage,
.shop-products .shop-addon .shop-product2 .manage .minus,
.shop-products .shop-addon .shop-product2 .manage .quantity,
.shop-products .shop-addon .shop-product2 .manage .add,
.shop-products .shop-addon .shop-product2 .price,
.shop-products .shop-addon .shop-product2 .purchase {
    font-size: 20px;
}

.shop-products .shop-addon .shop-product2 .manage .minus,
.shop-products .shop-addon .shop-product2 .manage .add {
    background-color: #59b7b3;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.shop-products .shop-addon .shop-product2 .reference {
    width: 15%;
}

.shop-products .shop-addon .shop-product2 .name {
    width: 25%;
}

.shop-products .shop-addon .shop-product2 .pack {
    width: 15%;
}

.shop-products .shop-addon .shop-product2 .manage {
    width: 15%;
}

.shop-products .shop-addon .shop-product2 .manage .minus {
    margin: 0 5px;
}

.shop-products .shop-addon .shop-product2 .manage .quantity {
    margin: 0 5px;
    width: 10px;
}

.shop-products .shop-addon .shop-product2 .manage .add {
    margin: 0 5px;
}

.shop-products .shop-addon .shop-product2 .price {
    width: 15%;
}

.shop-products .shop-addon .shop-product2 .price::after {
    content: " € (HT)";
}

.shop-products .shop-addon .shop-product2 .purchase {
    width: 15%;
    background-color: #59b7b3;
    border-radius: 0 13px 13px 0;
    cursor: pointer;
}

@media (max-width: 1199px) {
    .shop-products .shop-addon .shop-product2 .reference,
    .shop-products .shop-addon .shop-product2 .name,
    .shop-products .shop-addon .shop-product2 .pack,
    .shop-products .shop-addon .shop-product2 .manage,
    .shop-products .shop-addon .shop-product2 .price,
    .shop-products .shop-addon .shop-product2 .purchase {
        display: block;
        width: 100%;
        text-align: center;
        padding: 5px 0;
    }

    .shop-products .shop-addon .shop-product2 {
        padding: 0;
        box-sizing: border-box;
        width: 100%;
        margin: 40px auto;
        font-family: Roboto, sans-serif;
        height: 100%;
        padding-top: 5px;
    }

    .shop-products .shop-addon {
        box-shadow: none;
        margin: 30px auto;
    }

    .shop-products .shop-addon .shop-product2 {}

    .shop-products .shop-addon .shop-product2 .reference {}

    .shop-products .shop-addon .shop-product2 .name {
        margin: 5px 0;
    }

    .shop-products .shop-addon .shop-product2 {}

    .shop-products .shop-addon .shop-product2 .pack {
        display: inline-block;
        width: 30%;
        vertical-align: middle;
    }

    .shop-products .shop-addon .shop-product2 .manage {
        display: inline-block;
        width: 30%;
        vertical-align: middle;
        margin: 5px 5% 10px;
    }

    .shop-products .shop-addon .shop-product2 .price {
        display: inline-block;
        width: 30%;
        vertical-align: middle;
    }

    .shop-products .shop-addon .shop-product2 .purchase {
        border-radius: 0 0 13px 13px;
    }

}