.no-picture,
.sensible {
    color: #f2f2f2;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

@media (min-width: 730px) {
    .no-picture,
    .sensible {
        display: inline-block;
        width: 40%;
        vertical-align: middle;
    }

    #before-after .no-picture,
    #before-after .sensible {
        width: 100%;
    }
}

@media (max-width: 729px) {
    .no-picture,
    .sensible {
        display: block;
        width: 90vw;
        margin: 0 auto;
        position: relative;
    }
    
    .product-addon:not(:last-child) .no-picture::after,
    .product-addon:not(:last-child) .sensible::after {
        display: block;
        margin: 10px auto 5px;
        content: '';
        width: 90%;
        height: 3px;
        border-radius: 50%;
        background: #f2f2f2;
    }
}