/* CART */

.cart-purchase {
    position: fixed;
    width: 400px;
    height: 100%;
    right: -400px;
    top: 0;
    background: #0b1a25;
    z-index: 4;
    box-sizing: border-box;
}

.cart-purchase >*:not(.cart-head) {
    padding: 16px;
}

.cart-purchase.opened {
    right: 0px;
    z-index: 5;
    box-shadow: -4px 0px 8px 0px #0000009c;
}

.cart-purchase .cart-close {
    position: absolute;
    top: 22px;
    right: 15px;
    width: 16px;
    height: 16px;
    padding: 0;
    cursor: pointer;
}

.cart-purchase .cart-close img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.cart-purchase .cart-head {
    height: 60px;
    padding: 16px;
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
}

.cart-purchase .cart-head img {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: bottom;
}

.cart-purchase .cart-head span {
    font-size: 16px;
    color: #fff;
    margin-left: 30px;
    display: inline-block;
    vertical-align: bottom;
    text-transform: uppercase;
    font-weight: 500;
}

.cart-purchase hr {

}

.cart-purchase .cart-content {
    position: relative;
    height: calc(100vh - 330px);
    overflow-y: auto;
    transition: height 0.1s ease-in;
    transition-delay: 0s;
}

.cart-purchase .cart-content.purchase {
    height: calc(100vh - 270px);
    transition: height 0.3s ease-in-out;
    transition-delay: 0.2s;
}

.cart-purchase .cart-content .free-message {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.6;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    padding: 0 16px 8px;
}

.cart-purchase .cart-content .cart-article {
    font-size: 18px;
    color: #fff;
    padding: 10px 0;
    margin: 10px 0;
    box-shadow: #0006 -3px 2px 3px 1px;
    position: relative;
}

.cart-purchase .cart-content .cart-article .rmv {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 6px;
    right: 6px;
    cursor: pointer;
}

.cart-purchase .cart-content .cart-article .rmv img.init,
.cart-purchase .cart-content .cart-article .rmv:hover img.blue {
    display: block;
    width: 100%;
}

.cart-purchase .cart-content .cart-article .rmv:hover img.init,
.cart-purchase .cart-content .cart-article .rmv img.blue {
    display: none;
    width: 100%;
}

.cart-purchase .cart-content .cart-article .addon {
    width: 35%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.cart-purchase .cart-content .cart-article .addon img {
    height: auto;
    max-width: 90%;
    max-height: 120px;
}

.cart-purchase .cart-content .cart-article .details {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}

.cart-purchase .cart-content .cart-article .details .reference {
    font-size: 16px;
    margin-bottom: 5px;
}

.cart-purchase .cart-content .cart-article .details .name {
    font-size: 16px;
    margin-bottom: 5px;
}

.cart-purchase .cart-content .cart-article .details .qnts {

}

.cart-purchase .cart-content .cart-article .details .qnts .pack {
    margin-bottom: 5px;
}

.cart-purchase .cart-content .cart-article .details .qnts .manage {
    user-select: none;
}

.cart-purchase .cart-content .cart-article .details .qnts .manage .minus,
.cart-purchase .cart-content .cart-article .details .qnts .manage .qnt,
.cart-purchase .cart-content .cart-article .details .qnts .manage .add {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
}

.cart-purchase .cart-content .cart-article .details .qnts .manage .minus,
.cart-purchase .cart-content .cart-article .details .qnts .manage .add {
    background-color: #59b7b3;
    width: 18px;
    height: 18px;
    line-height: 1;
    border-radius: 50%;
    cursor: pointer;
}

.cart-purchase .cart-content .cart-article .details .qnts .manage .minus {
    margin-right: 5px;
}

.cart-purchase .cart-content .cart-article .details .qnts .manage .qnt {
}

.cart-purchase .cart-content .cart-article .details .qnts .manage .add {
    margin-left: 5px;
}


.cart-purchase .cart-final {
    height: 210px;
    border-top: 1px solid white;
}

.cart-purchase .cart-final .text,
.cart-purchase .cart-final .price {
    position: absolute;
    top: 0;
    font-size: 16px;
    color: #fff;
}

.cart-purchase .cart-final .text {
    left: 0;
    font-weight: 700;
}

.cart-purchase .cart-final .price {
    right: 0;
}

.cart-purchase .cart-final .price::after {
    content: " €";
}

.cart-purchase .cart-final .cart-sub-total,
.cart-purchase .cart-final .cart-tva,
.cart-purchase .cart-final .cart-discount,
.cart-purchase .cart-final .cart-total {
    position: relative;
    margin: 10px 0 5px;
    line-height: 20px;
    padding: 20px 0 5px;
    border-bottom: 2px solid #fff;
    text-transform: uppercase;
}

.cart-purchase .cart-final .cart-sub-total {
    
}

.cart-purchase .cart-final .cart-tva {
    
}

.cart-purchase .cart-final .cart-total {
    
}

.cart-purchase .cart-final .cart-validate,
form#purchase.step-1 .cart-validate.form-transition,
form#purchase button.cart-validate {
    text-transform: uppercase;
    width: 312.8px;
    padding: 15px 60px;
    box-shadow: -5px 5px 14px 0 rgba(0,0,0,.2);
    outline: none;
    cursor: pointer;
    font-size: 18px;
    background: #59b7b3;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    position: fixed;
    bottom: 12px;
    right: -400px;
    transition: right 0.3s ease-in-out;
    transition-delay: 0s;
    margin-right: 42.6px;
}

.cart-purchase.opened .cart-final .cart-validate,
form#purchase.step-1 .cart-validate.form-transition,
form#purchase.step-1 button.cart-validate {
    right: 0px;
    transition: right 0.3s ease-in-out;
    transition-delay: 0s;
}

form#purchase button.cart-validate.form-transition:not(.other-address-transition),
form#purchase button.cart-validate.form-transition.other-address-transition,
form#purchase.step-1 button.cart-validate {
    z-index: 5;
}

.cart-purchase.opened .cart-final .cart-validate.form-transition,
form#purchase.step-2-3 .cart-validate.form-transition:not(.other-address-transition) {
    right: 400px;
    transition: right 0.3s ease-in-out;
    transition-delay: 0.1s;
    /* z-index: 0; */
}

.cart-purchase.opened .cart-final .cart-validate.other-address-transition,
form#purchase .cart-validate.form-transition.other-address-transition {
    right: 800px;
    transition: right 0.3s ease-in-out;
    transition-delay: 0s;
    /* z-index: 0; */
}

/* purchase form */

.cart-purchase-form {
    position: fixed;
    width: 400px;
    height: 100%;
    right: -400px;
    top: 0;
    background: #0b1a25;
    z-index: 2;
    box-sizing: border-box;
    padding: 32px 16px 16px;
    overflow-y: auto;
    transition: right 0.3s ease-in-out;
}

.cart-purchase-form.opened {
    box-shadow: -4px 0px 8px 0px #0000009c;
    right: 400px;
    z-index: 3;
    transition: right 0.3s ease-in-out;
}

.cart-purchase-form.opened.other-opened {
    z-index: 4;
}

.cart-purchase-form.opened .form-close,
.cart-purchase-form .form-close img,
#step-3-part .form-close,
#step-3-part .form-close img {
    position: absolute;
    top: 22px;
    right: 15px;
    width: 16px;
    height: 16px;
    padding: 0;
    cursor: pointer;
}

.cart-purchase-form.opened .form-close img,
#step-3-part .form-close img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.cart-purchase-form .title {
    right: 0px;
}

.cart-purchase-form .title,
#step-3-part .title {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    max-width: 400px;
    width: 100%;
    letter-spacing: 1.5px;
    line-height: 22px;
    font-weight: 500;
    position: fixed;
    top: 0;
    padding: 32px 75px 0;
    z-index: 1;
    background-color: #0b1a25;
    right: -400px;
    transition: right 0.3s ease-in-out;
    box-sizing: border-box;
}

.cart-purchase-form.opened .title,
#step-3-part.other-opened .title{
    right: 400px;
    transition: right 0.3s ease-in-out;
    height: 100px;
}

.cart-purchase-form.opened > .title {

}

.cart-purchase-form.opened .title hr,
#step-3-part .title hr {
    position: relative;
}

.cart-purchase-form.opened div#purchase-form.neumorphic {
    position: fixed;
    right: 400px;
    top: 90px;
    width: 400px;
    transition: right 0.3s ease-in-out;
}

.cart-purchase-form div#purchase-form.neumorphic {
    right: 0;
    transition: right 0.3s ease-in-out;
}

.cart-purchase-form.opened div#purchase-form.neumorphic input,
form#purchase .neumorphic input {

}

.cart-purchase-form.opened div#purchase-form.neumorphic textarea,
#step-3-part textarea {
    height: unset;
}

.cart-purchase-form.opened div#purchase-form.neumorphic input[type="checkbox"],
form#purchase .neumorphic input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    float: left;
    left: 7%;
}

.cart-purchase-form.opened div#purchase-form.neumorphic label,
form#purchase .neumorphic label {
    cursor: pointer;
    top: -8px;
    margin: 10px 0;
}

.cart-purchase-form.opened div#purchase-form.neumorphic input[type="submit"] {

}

.cart-purchase-form.opened div#purchase-form.neumorphic #step-1-part {
    right: 400px;
    z-index: 3;
    transition: right 0.3s ease-in-out;
    max-height: 550px;
    height: 100%;
    overflow-y: auto;
    max-height: calc(100vh - 250px);
    height: 100%;
}

.cart-purchase-form +#step-3-part {
    position: fixed;
    width: 400px;
    height: 100%;
    right: -400px;
    top: 0;
    background: #0b1a25;
    z-index: 2;
    box-sizing: border-box;
    padding: 90px 16px 16px;
    overflow-y: auto;
    transition: right 0.3s ease-in-out;
}

.cart-purchase +.cart-purchase-form +#step-3-part {
    right: -400px;
}

.cart-purchase.opened +.cart-purchase-form +#step-3-part {
    right: 0;
    box-shadow: -4px 0px 8px 0px #0000009c;
}

.cart-purchase.opened +.cart-purchase-form.opened +#step-3-part {
    right: 400px;
}

.cart-purchase.opened +.cart-purchase-form.opened +#step-3-part.other-opened {
    right: 800px;
    transition: right 0.3s ease-in-out;
    z-index: 3;
}

.cart-purchase.opened +.cart-purchase-form.opened +#step-3-part.other-opened .form {
    max-height: calc(100vh - 200px);
    overflow: auto;
}

.cart-purchase-form.opened +#step-3-part .title {
    position: absolute;
    left: 0;
}

.cart-purchase-form.opened +#step-3-part.other-opened .title {
    transition: right 0.3s ease-in-out;
}

.cart-purchase-form div#purchase-form.neumorphic .end-purchase,
.cart-purchase-form div#purchase-form.neumorphic .address-purchase {
    text-transform: uppercase;
    width: 312.8px;
    padding: 15px 60px;
    box-shadow: -5px 5px 14px 0 rgba(0,0,0,.2);
    outline: none;
    cursor: pointer;
    font-size: 18px;
    background: #59b7b3;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    position: fixed;
    bottom: 12px;
    border-radius: 0;
    margin: 0;
    right: 42.6px;
    transition: right 0.3s ease-in-out;
    transition-delay: 0.3s;
}

.cart-purchase-form.opened div#purchase-form.neumorphic .end-purchase,
.cart-purchase-form.opened div#purchase-form.neumorphic .address-purchase {
    right: 442.6px;
    transition: right 0.3s ease-in-out;
    transition-delay: 0s;
}

form#purchase .sepa input,
form#purchase .sepa label,
form#purchase .sepa div {
    display: inline-block;
    vertical-align: middle;
    width: max-content;
    position: unset;
    height: 20px;
}

form#purchase .sepa div {
    margin: 10px 0;
}

form#purchase .sepa div > * {
    margin: 0;
}

form#purchase .sepa .choice:first-child {
    margin-left: 28px;
}

form#purchase .sepa .choice {
    margin-left: 10px;
}

form#purchase .sepa .choice-label {
    margin-left: 10px;
}

form#purchase.step-2-3 #step-3-part.other-opened + .sepa.soge {
    bottom: 90px;
    transition: bottom 0.3s ease-in-out 0.1s;
}

form#purchase.step-2-3 #step-3-part.other-opened + .sepa + .facture {
    bottom: 50px;
    transition: bottom 0.3s ease-in-out 0.1s;
}

form#purchase.step-2-3 #step-3-part.other-opened + .sepa + .facture + .cgu {
    bottom: 10px;
    transition: bottom 0.3s ease-in-out 0.1s;
}

form#purchase.all-close > .step-1.neumorphic,
form#purchase > .step-1.neumorphic.sepa,
form#purchase > .step-1.neumorphic.facture,
form#purchase > .step-1.neumorphic.cgu {
    position: fixed;
    right: -400px;
    transition: right 0.3s ease-in-out 0s, bottom 0.3s ease-in-out 0s;
    z-index: 4;
    width: 400px;
}

form#purchase > .step-1.neumorphic.sepa {
    padding-top: 10px;
    bottom: 140px;
    background-color: #0b1a25;
    transition: right 0.3s ease-in-out 0s, bottom 0.3s ease-in-out 0s;
}

form#purchase > .step-1.neumorphic.facture {
    padding-top: 10px;
    bottom: 100px;
    background-color: #0b1a25;
    transition: right 0.3s ease-in-out 0s, bottom 0.3s ease-in-out 0s;
}

form#purchase > .step-1.neumorphic.cgu {
    bottom: 60px;
    background-color: #0b1a25;
    transition: right 0.3s ease-in-out 0s, bottom 0.3s ease-in-out 0s;
}

form#purchase.step-1 > .step-1.neumorphic {
    right: 0px;
    transition: right 0.3s ease-in-out 0s;
}

form#purchase.step-2-3 > .step-1.neumorphic {
    right: 400px;
    transition: right 0.3s ease-in-out 0s, bottom 0.3s ease-in-out 0s;
}

form#purchase button.cart-validate {
    border: none;
}

