.order-layout {
    color: #f2f2f2;
}
.order-layout h2 {
    margin: 0;
    text-align: left;
    padding-top: 25px;
}

.order-layout .order {
    
}

.order-layout .order .order-id {

}

.order-layout .order .order-articles {

}

.order-layout .order .order-articles .order-article {

}

.order-layout .order .order-articles .order-article .article-name {

}

.order-layout .order .order-articles .order-article .article-price {

}

.order-layout .order .order-articles .order-article .article-pack_size {

}

.order-layout .order .order-articles .order-article .article-quantity {

}

.order-layout .order .order-articles .order-article .article-total {

}

.order-layout .order .order-delivery {

}

.order-layout .order .order-date {

}

.order-layout .order .order-billing {

}

.order-layout .order .order-billing h3 {

}

.order-layout .order .order-billing .billing-table {

}

.order-layout .order .order-billing .billing-table .billing-firstname {

}

.order-layout .order .order-billing .billing-table .billing-lastname {

}

.order-layout .order .order-billing .billing-table .billing-society {

}

.order-layout .order .order-billing .billing-table .billing-address1 {

}

.order-layout .order .order-billing .billing-table .billing-address2 {

}

.order-layout .order .order-billing .billing-table .billing-zip {

}

.order-layout .order .order-billing .billing-table .billing-city {

}

.order-layout .order .order-billing .billing-table .billing-phone {

}

.order-layout .order .order-billing .billing-table .billing-mail {

}

.order-layout .order .order-shipping {

}

.order-layout .order .order-shipping h3 {

}

.order-layout .order .order-shipping .shipping-table {

}

.order-layout .order .order-shipping .shipping-table .shipping-firstname {

}

.order-layout .order .order-shipping .shipping-table .shipping-lastname {

}

.order-layout .order .order-shipping .shipping-table .shipping-society {

}

.order-layout .order .order-shipping .shipping-table .shipping-address1 {

}

.order-layout .order .order-shipping .shipping-table .shipping-address2 {

}

.order-layout .order .order-shipping .shipping-table .shipping-zip {

}

.order-layout .order .order-shipping .shipping-table .shipping-city {

}

.order-layout .order .order-shipping .shipping-table .shipping-phone {

}

.order-layout .order .order-shipping .shipping-table .shipping-mail {

}

.order-layout .order .order-status {

}
