.order-layout {
    color: #f2f2f2;
}
.order-layout h2 {
    margin: 0;
    text-align: left;
    padding-top: 25px;
}

.order-layout .order {
    
}

.order-layout .order .order-id {

}

.order-layout .order .order-articles {

}

.order-layout .order .order-articles .order-article {

}

.order-layout .order .order-articles .order-article .article-name {

}

.order-layout .order .order-articles .order-article .article-price {

}

.order-layout .order .order-articles .order-article .article-pack_size {

}

.order-layout .order .order-articles .order-article .article-quantity {

}

.order-layout .order .order-articles .order-article .article-total {

}

.order-layout .order .order-delivery {

}

.order-layout .order .order-date {

}

.order-layout .order .order-billing {

}

.order-layout .order .order-billing h3 {

}

.order-layout .order .order-billing .billing-table {

}

.order-layout .order .order-billing .billing-table .billing-firstname {

}

.order-layout .order .order-billing .billing-table .billing-lastname {

}

.order-layout .order .order-billing .billing-table .billing-society {

}

.order-layout .order .order-billing .billing-table .billing-address {

}

.order-layout .order .order-billing .billing-table .billing-country {

}

.order-layout .order .order-billing .billing-table .billing-zip {

}

.order-layout .order .order-billing .billing-table .billing-city {

}

.order-layout .order .order-billing .billing-table .billing-phone {

}

.order-layout .order .order-billing .billing-table .billing-mail {

}

.order-layout .order .order-shipping {

}

.order-layout .order .order-shipping h3 {

}

.order-layout .order .order-shipping .shipping-table {

}

.order-layout .order .order-shipping .shipping-table .shipping-firstname {

}

.order-layout .order .order-shipping .shipping-table .shipping-lastname {

}

.order-layout .order .order-shipping .shipping-table .shipping-society {

}

.order-layout .order .order-shipping .shipping-table .shipping-address {

}

.order-layout .order .order-shipping .shipping-table .shipping-country {

}

.order-layout .order .order-shipping .shipping-table .shipping-zip {

}

.order-layout .order .order-shipping .shipping-table .shipping-city {

}

.order-layout .order .order-shipping .shipping-table .shipping-phone {

}

.order-layout .order .order-shipping .shipping-table .shipping-mail {

}

.order-layout .order .order-status {

}



.order-layout .payment-suggestions {
    margin-top: 120px;
    text-align: center;
}

.order-layout .payment-suggestions a {
    color: #f2f2f2;
    width: 30%;
    font-size: 35px;
    font-weight: 200;
    display: inline-block;
}

.order-layout .payment-suggestions a:hover {
    color: #59b7b3;
    transition: color 0.2s ease-in-out 0s;
}

.order-layout .payment-suggestions a::after {
    content: '';
    position: relative;
    display: block;
    width: 0%;
    height: 3px;
    background: #59b7b3;
    border-radius: 50%;
    margin: 0 auto;
    transition: width 0.3s ease-in-out 0s;
}

.order-layout .payment-suggestions a:hover::after {
    width: 95%;
    transition: width 0.3s ease-in-out 0s;
}

@media (max-width:1199px) {
    main#main {
        min-height: calc(100vh - (40px + 280px));
    }
}

@media (min-width: 1200px) {
    .order-layout .payment-suggestions a:first-child {
        margin-right: 5%;
    }
    
    .order-layout .payment-suggestions a:last-child {
        margin-left: 5%;
    }
}

@media (max-width:1199px) {
    main#main {
        min-height: calc(100vh - (50px + 320px));
    }

    .order-layout .payment-suggestions a {
        width: max-content;
        display: block;
        margin: 0 auto;
    }
}