#modale {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #0008;
    opacity: 0;
}

#modale.opened {
    z-index: 6;
    opacity: 1;
    transition: opacity 0.3s ease-in-out 0s;
}

#modale #modale-container {
    width: 60%;
    height: 80%;
    background-color: #070707;
    border-top: 5px solid #59b7b3;
    margin: 0 auto;
    top: 10%;
    position: relative;
    box-shadow: #0e0e0e 0px 0px 5px;
}

#modale #modale-container #modale-content #modale-close {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 50px;
    font-weight: 400;
    color: #f2f2f2;
    cursor: pointer;
    transform: rotate(45deg);
    user-select: none;
}

#modale #modale-container #modale-content #modale-close:hover {
    color: #59b7b3;
}

/*  ========================================
    ========= MODALE PROJECT MAKER =========
    ========================================
*/

/* EXT MODALE */
#modale #modale-container.payment-sepa {
    top: 15%;
    min-height: 100px;
    height: fit-content;
    width: 65%;
    padding: 65px 0px;
}

@media (max-width: 1000px) and (max-height: 1000px) {
    #modale #modale-container.payment-sepa {
        top: 0;
        width: 100%;
        height: 100%;
        min-height: unset;
    }
}

@media (max-width: 450px) and (max-height: 700px) {
    #modale #modale-container.payment-sepa {
        top: 5%;
        min-height: unset;
        height: 90%;
        width: 90%;
    }
}

@media (max-width: 450px) and (min-height: 700px) {
    #modale #modale-container.payment-sepa {
        top: 5%;
        min-height: unset;
        height: 90%;
        width: 90%;
    }
}

/* MODALE CONTENT */
#modale #modale-container.payment-sepa #modale-content {
    padding: 0 5%;
    height: 100%;
    margin: 0 auto;
    color: #f2f2f2;
    text-align: center;
    letter-spacing: 1px;
}

@media (max-width: 450px) and (max-height: 700px) {
    #modale #modale-container.payment-sepa #modale-content {
        padding: 0 10px;
    }
}

@media (max-width: 450px) and (min-height: 700px) {
    #modale #modale-container.payment-sepa #modale-content {
        padding: 0 10px;
    }
}

/* MODALE HEADER */
#modale #modale-container.payment-sepa #modale-content h2 {
    font-weight: 600;
    font-size: 35px;
    padding: 25px 0;
    margin: 0;
    transition: margin 0.3s ease-in-out 0s;
}

@media (max-width: 768px) {
    #modale #modale-container.payment-sepa #modale-content h2 {
        margin-top: 40px;
        transition: margin 0.3s ease-in-out 0s;
    }
}

#modale #modale-container.payment-sepa #modale-content .thanks {
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}

#modale #modale-container.payment-sepa #modale-content .thanks + table {
    border-spacing: 0;
}

#modale #modale-container.payment-sepa #modale-content .thanks + table {
    margin: 45px auto;
}

#modale #modale-container.payment-sepa #modale-content .SEPA .BIC {
    margin-top: 30px;
}

#modale #modale-container.payment-sepa #modale-content table .SEPA {
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
}

#modale #modale-container.payment-sepa #modale-content .SEPA td {
    border: 1px solid #f2f2f2;
    padding: 5px 15px;
}

#modale #modale-container.payment-sepa #modale-content div.RIB,
#modale #modale-container.payment-sepa #modale-content div.BIC {
    border: 1px solid #59b7b3;
    width: 90%;
}

#modale #modale-container.payment-sepa #modale-content span.RIB,
#modale #modale-container.payment-sepa #modale-content span.BIC {
    border-right: 1px solid #59b7b3;
    width: 100px;
}

#modale #modale-container.payment-sepa #modale-content .info {
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
}

#modale #modale-container.payment-sepa #modale-content .info .reference {
    font-size: 20px;
    font-weight: 600;
}

#modale #modale-container.payment-sepa #modale-content .post-scriptum {
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
}

@media (max-width: 450px) and (max-height: 700px) {
    #modale #modale-container.payment-sepa #modale-content h2 {
        padding: 20px 0;
    }

    #modale #modale-container.payment-sepa #modale-content .thanks {
        margin-top: 15px;
    }

    #modale #modale-container.payment-sepa #modale-content .SEPA {
        margin-top: 10px;
    }

    #modale #modale-container.payment-sepa #modale-content div.RIB,
    #modale #modale-container.payment-sepa #modale-content div.BIC {
        border: 1px solid #59b7b3;
        width: 90%;
    }

    #modale #modale-container.payment-sepa #modale-content .info {
        margin-top: 10px;
    }

    #modale #modale-container.payment-sepa #modale-content .post-scriptum {
        margin-top: 10px;
    }
}

@media (max-width: 450px) and (min-height: 700px) {
    #modale #modale-container.payment-sepa #modale-content h2 {
        padding: 20px 0;
    }

    #modale #modale-container.payment-sepa #modale-content .thanks {
        margin-top: 15px;
    }

    #modale #modale-container.payment-sepa #modale-content .SEPA {
        margin-top: 10px;
    }

    #modale #modale-container.payment-sepa #modale-content div.RIB,
    #modale #modale-container.payment-sepa #modale-content div.BIC {
        border: 1px solid #59b7b3;
        width: 90%;
    }

    #modale #modale-container.payment-sepa #modale-content .info {
        margin-top: 10px;
    }

    #modale #modale-container.payment-sepa #modale-content .post-scriptum {
        margin-top: 10px;
    }
}