#strapi-create,
#strapi-update,
#strapi-load,
#strapi-delete {
    padding: 25px 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
}

.strapi-form input,
.strapi-form div,
.strapi-form select {
    display: inline-block;
    width: 150px;
    height: 20px;
    margin: 10px 25px;
    background: #fff;
    border: none;
    padding: 0;
    vertical-align: middle;
}

.strapi-form div {
    text-align: center;
}

#strapi-create {
    background: #888;
}

#strapi-update {
    background: #f88;
}

#strapi-load {
    background: #8f8;
}

#strapi-delete {
    background: #88f;
}
