._404-zone {
    padding: 110px;
    text-align: center;
    color: #f2f2f2;
}

._404-zone ._404-message {
    font-size: 25px;
    font-weight: 600;
}

._404-zone ._404-suggestions {
    margin-top: 30px;
}

._404-zone ._404-suggestions a {
    color: #f2f2f2;
    width: 30%;
    font-size: 35px;
    font-weight: 200;
    display: inline-block;
}

._404-zone ._404-suggestions a:hover {
    color: #59b7b3;
    transition: color 0.2s ease-in-out 0s;
}

._404-zone ._404-suggestions a::after {
    content: '';
    position: relative;
    display: block;
    width: 0%;
    height: 3px;
    background: #59b7b3;
    border-radius: 50%;
    margin: 0 auto;
    transition: width 0.3s ease-in-out 0s;
}

._404-zone ._404-suggestions a:hover::after {
    width: 95%;
    transition: width 0.3s ease-in-out 0s;
}

@media (max-width:1199px) {
    main#main {
        min-height: calc(100vh - (40px + 280px));
    }
}

@media (min-width: 1200px) {
    ._404-zone ._404-suggestions a:first-child {
        margin-right: 5%;
    }
    
    ._404-zone ._404-suggestions a:last-child {
        margin-left: 5%;
    }
}

@media (max-width:1199px) {
    main#main {
        min-height: calc(100vh - (50px + 320px));
    }

    ._404-zone ._404-suggestions a {
        width: max-content;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width:768px) {
    main#main {
        min-height: calc(100vh - (50px + 320px));
    }
}
