html, body {
    padding: 0;
    border: none;
    margin: 0;
    background-color: #d2d2d2;
    font-family: 'raleway', sans-serif;
    font-size: 0;
}

body {
    background-size: 100%;
    background-repeat: no-repeat;
}

body::-webkit-scrollbar {
    height: 0;
    width: 0;
    background-color: #0d1f2c;
}

body::-webkit-scrollbar-button {
    background-color: #0d1f2c;
    width: 5px;
    height: 5px;
}

body::-webkit-scrollbar-button-track {
    background-color: #0d1f2cbb;
    width: 5px;
    height: 5px;
}

body::-webkit-scrollbar-button-thumb {
    background-color: #0d1f2cbb;
    width: 5px;
    height: 5px;
}

.background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

img {

}

a {
    color: #000000;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

li, ul, ol {
    list-style: none;
}

.zone-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.transition {
    /* transition: all 0.3s ease-in-out; */
    transition: all 0.3s ease;
}

.transition-display {
    transition: display 0.3s ease-in;
}

.container {
    max-width: 1660px;
    width: 90%;
    margin: 0 auto;
}

@font-face {
    font-family: 'raleway';
    src: url("/fonts/raleway/raleway.woff2")
         /* url("/fonts/raleway/Raleway-Black.ttf"),
         url("/fonts/raleway/Raleway-BlackItalic.ttf"),
         url("/fonts/raleway/Raleway-Bold.ttf"),
         url("/fonts/raleway/Raleway-BoldItalic.ttf"),
         url("/fonts/raleway/Raleway-ExtraBold.ttf"),
         url("/fonts/raleway/Raleway-ExtraBoldItalic.ttf"),
         url("/fonts/raleway/Raleway-ExtraLight.ttf"),
         url("/fonts/raleway/Raleway-ExtraLightItalic.ttf"),
         url("/fonts/raleway/Raleway-Italic.ttf"),
         url("/fonts/raleway/Raleway-Italic-VariableFont_wght.ttf"),
         url("/fonts/raleway/Raleway-Light.ttf"),
         url("/fonts/raleway/Raleway-LightItalic.ttf"),
         url("/fonts/raleway/Raleway-Medium.ttf"),
         url("/fonts/raleway/Raleway-MediumItalic.ttf"),
         url("/fonts/raleway/Raleway-Regular.ttf"),
         url("/fonts/raleway/Raleway-SemiBold.ttf"),
         url("/fonts/raleway/Raleway-SemiBoldItalic.ttf"),
         url("/fonts/raleway/Raleway-Thin.ttf"),
         url("/fonts/raleway/Raleway-ThinItalic.ttf"),
         url("/fonts/raleway/Raleway-VariableFont_wght.ttf"); */
}

@font-face {
    font-family: 'icomoon';
    src: url("/fonts/icomoon.ttf");
}

.uppercase {text-transform: uppercase;}
.lowercase {text-transform: lowercase;}
.capitalize {text-transform: capitalize;}

/* MENU-TITLE DROPDOWN-MENU */

.header-parts > .header-top .menu-title .dropdown-menu,
.header-parts > .header-bottom .menu-title .dropdown-menu {
    padding: 25px 0;
    display: none;
    background-color: rgba(0,0,0,.5);
}

.header-parts > .header-top .menu-title:hover .dropdown-menu,
.header-parts > .header-bottom .menu-title:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0px;
}

.header-parts > .header-top .menu-title .dropdown-menu li,
.header-parts > .header-top .menu-dk-title .dk-dropdown-menu li,
.header-parts > .header-bottom .menu-title .dropdown-menu li,
.header-parts > .header-bottom .menu-dk-title .dk-dropdown-menu li {
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
    min-width: 150px;
}

.header-parts > .header-top .menu-title .dropdown-menu .menu-content,
.header-parts > .header-bottom .menu-title .dropdown-menu .menu-content {
    letter-spacing: 0;
    display: block;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.4;
    text-decoration: none;
    white-space: nowrap;
    padding: 10px 25px;
    margin: 0;
}

.header-parts > .header-top .menu-title .dropdown-menu .menu-content.menu-text:hover,
.header-parts > .header-bottom .menu-title .dropdown-menu .menu-content.menu-text:hover {
    background-color: #333;
    text-decoration: none;
    color: #fff;
}

.header-parts > .header-top .menu-title .dropdown-menu .menu-content.menu-text:hover,
.header-parts > .header-bottom .menu-title .dropdown-menu .menu-content.menu-text:hover {
    background-color: #333;
    text-decoration: none;
    color: #fff;
}

/* HEADER */

header {
    margin: 0 auto;
    width: calc(100% - 30px);
    padding: 25px 15px 0;
    background-color: #0b1a25;
    /* background-image: linear-gradient(90deg, #0d1f2c, #0d1f2cbb); */
    box-shadow: rgba(0, 0, 0, .5) 3px 3px 25px;
    position: relative;
    z-index: 1;
}

@media (max-width: 999px) {
    header .container .header-parts {
        max-width: calc(100% - 160px);
        width: 100%;
    }
}

@media (min-width: 800px) {
    header .container .header-parts {
        max-width: calc(100% - 280px);
        width: 100%;
    }
}

.header-content {
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
    position: relative;
}

@media (max-width: 999px) {
    .header-content {
        max-width: 100%;
    }
}

.header-logo {
    vertical-align: top;
    width: 250px;
    height: 60px;
    position: relative;
    background-size: 250px;
    background-position: center;
    padding-top: 5px;
}

.header-parts {
    vertical-align: top;
    text-align: right;
}

.header-logo,
.header-parts {
    display: inline-block;
}

@media (max-width: 999px) {
    .header-logo {
        width: 160px;
        background-size: 100%;
        bottom: 5px;
    }
}

@media (max-width: 279px) {
    .header-logo {
        width: 100%;
        background-size: 100%;
    }

    .header-logo,
    .header-parts {
        display: block;
        margin: 0 auto;
    }
}

.header-parts > .header-top ul,
.header-parts > .header-bottom ul,
.header-parts > .footer ul {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
}

.header-mini-menu {
    display: none;
}

@media (max-width: 999px) {
    .header-content .header-parts .header-mini-menu {
        background-color: rgba(85, 85, 86, 0);
        border: 1px solid #ffffff59;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        cursor: pointer;
        display: inline-block;
        font-family: raleway, sans-serif;
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 11px;
        padding: 15px 25px;
        position: absolute;
        right: 25px;
        text-align: center;
        text-transform: uppercase;
        top: 7px;
        vertical-align: middle;
        white-space: nowrap;
        width: max-content;
        z-index: 0;
        outline: none;
    }
    
    .header-parts > .header-top,
    .header-parts > .header-bottom {
        display: none;
    }
}

@media (max-width: 329px) {
    header .container .header-parts {
        max-width: 100%;
    }

    .header-logo {
        display: block;
        margin: 0 auto;
    }

    .header-content .header-parts .header-mini-menu {
        display: block;
        position: relative;
        margin: 0 auto 20px;
        right: 0;
        top: 0;
    }
}

/* HEADER-TOP */

.header-parts > .header-top {
    padding: 25px 0 20px;
}

.header-parts > .header-top a {
    color: #cccbcd;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 2px;
}

.header-parts > .header-top a:hover {
    color: #ffffff;
}

.header-parts > .header-top * {
    display: inline-block;
}

.header-parts > .header-top a.menu-text,
.header-parts > .header-top a.menu-title {
    margin-right: 17px;
    padding-bottom: 12px;
    font-size: 12px;
    top: 7px;
    position: relative;
    line-height: 1;
}

.header-parts > .header-top .menu-text,
.header-parts > .header-top .menu-image,
.header-parts > .header-top .menu-button {
    cursor: pointer;
}

.header-parts > .header-top .menu-image.social-btn {
    display: inline-block;
    vertical-align: middle;
    margin: 0 4px;
    position: relative;
}

.header-parts > .header-top .menu-image.social-btn:hover {

}

.header-parts > .header-top .menu-single.menu-image,
.header-parts > .header-top .menu-title.menu-image {
    width: 26px;
    height: 26px;
}

.header-parts > .header-top .single-image-inline {
    display: inline-block;
}

.header-parts > .header-top .menu-text,
.header-parts > .header-top .menu-content {
    text-transform: uppercase;
}

.header-parts > .header-top .menu-text.menu-title:hover {
    text-decoration: underline;
}

.header-parts > .header-top .dropdown-menu {
    top: 25px;
}

/* HEADER-BOTTOM */

.header-parts > .header-bottom {
    line-height: 28px;
}

.header-parts > .header-bottom a {
    
}

.header-parts > .header-bottom ul.menu-title,
.header-parts > .header-bottom ul.menu-dk-title {
    padding-bottom: 21px;
}

.header-parts > .header-bottom ul.menu-dk-title {
    position: unset;
}

.header-parts > .header-bottom a.menu-text.menu-single,
.header-parts > .header-bottom a.menu-text.menu-title,
.header-parts > .header-bottom ul a.menu-text.menu-single,
.header-parts > .header-bottom ul a.menu-text.menu-title,
.header-parts > .header-bottom ul a.menu-text.menu-dk-title {
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 1px;
    padding: 5px 10px 10px 10px;
    display: inline-block;
}

.header-parts > .header-bottom .menu-text.menu-content {
    text-transform: capitalize;
}

.header-parts > .header-bottom .dropdown-menu {
    top: 50px;
    display: none;
    background-color: rgba(0,0,0,.5);
}

.header-parts > .header-bottom .dk-dropdown-menu {
    top: 50px;
    display: none;
    background-color: #0d1f2c;
}

.header-parts > .header-bottom .menu-dk-title:hover .dk-dropdown-menu {
    display: block;
    position: absolute;
    right: 0px;
    left: calc((100% - 100vw) / 2);
    width: 100vw;
    top: 122px;
    z-index: 3;
}

.header-parts > .header-bottom .dk-dropdown-menu .dk-sub-container {
    max-width: calc(100% - 60px);
    width: 100%;
    padding: 25px 30px 20px;
    text-align: center;
    display: inline-flex;
    box-shadow: rgba(0, 0, 0, .5) 3px 3px 25px;
}

.header-parts > .header-bottom .dk-dropdown-menu .dk-sub-container .dk-item {
    text-align: center;
    display: inline-block;
    flex-grow: 1;
}

.header-parts > .header-bottom .dk-dropdown-menu .dk-sub-container .dk-item .dk-picture {
    width: 70px;
    height: 70px;
    margin: 0 auto;
}

.header-parts > .header-bottom .dk-dropdown-menu .dk-sub-container .dk-item .dk-picture:hover {
    transform: scale(0.9);
}

.header-parts > .header-bottom .dk-dropdown-menu .dk-sub-container .dk-item .dk-title {
    margin-top: 8px;
    line-height: 16px;
    font-weight: 600;
    font-size: 13px;
    color: #ffffff;
    text-transform: capitalize;
}

/* HEADER-MINI */

.header-mini {
    display: none;
    background-color: transparent;
    width: 0%;
    height: 0%;
    opacity: 0;
}

@media (max-width: 999px) {
    .header-mini.opened {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        cursor: default;
        text-align: center;
        opacity: 0.9;
        background-color: #000;
    }

    .header-mini.opened .menu-close {
        right: 50px;
        top: 45px;
        text-align: right;
        display: inline-block;
        vertical-align: middle;
        opacity: .5;
        position: absolute;
        text-shadow: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.5px;
        cursor: pointer;
    }
    
    .header-mini.opened .menu-close:hover {
        opacity: 1;
        transform: scale(1.05);
    }

    .header-mini.opened .menu-close span {
        vertical-align: middle;
    }

    .header-mini.opened .menu-close .close-mini-menu-icon {
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        margin-left: 5px;
    }

    .header-mini.opened .header-mini-divider {
        height: 2px;
        background-color: #cccbcb;
        border-radius: 50%;
        width: 180px;
        margin: 0 auto;
        margin-top: 15px;
        max-width: calc(100vw - 20px);
    }

    /* HEADER-MINI-BOTTOM */

    .header-mini.opened .header-bottom {
        padding-top: 70px;
    }

    .header-mini.opened .header-bottom ul.menu-title,
    .header-mini.opened .header-bottom a.menu-single,
    .header-mini.opened .header-bottom ul.menu-dk-title {
        display: block;
        padding: 15px 0;
        margin: 0 auto;
    }

    .header-mini.opened .header-bottom ul.menu-title .dropdown-menu,
    .header-mini.opened .header-bottom ul.menu-dk-title .dk-dropdown-menu {
        display:none;
    }

    .header-mini.opened .header-bottom ul.menu-title.opened .dropdown-menu,
    .header-mini.opened .header-bottom ul.menu-dk-title.opened .dk-dropdown-menu {
        background-color:rgba(0, 0, 0, 0);
        color:rgb(255, 255, 255);
        cursor:pointer;
        display:block;
        font-size:11px;
        font-weight:600;
        height:36px;
        letter-spacing:normal;
        padding: 25px 0;
        margin-top: 2px;
        text-align:center;
        text-transform:uppercase;
        position: relative;
    }

    .header-mini.opened .header-bottom ul.menu-dk-title.opened .dk-dropdown-menu {
        padding: 15px 0 0;
        height: unset;
    }

    .header-mini.opened .header-bottom ul.menu-title.opened .dropdown-menu .menu-text {
        font-size: 12.1px;
        font-weight: 600;
        padding: 10px 25px;
    }

    .header-mini.opened .header-bottom ul.menu-title .menu-text,
    .header-mini.opened .header-bottom a.menu-single.menu-text,
    .header-mini.opened .header-bottom ul.menu-dk-title .menu-text {
        color:#fff;
        display:block;
        font-size:16px;
        line-height:22px;
        text-align:center;
        font-weight: 700;
        text-transform: uppercase;
    }

    .header-mini.opened .header-bottom ul.menu-title .menu-title:hover,
    .header-mini.opened .header-bottom ul.menu-title .menu-text:hover,
    .header-mini.opened .header-bottom a.menu-single:hover {
        text-decoration: underline;
    }

    .header-mini.opened .header-bottom ul.menu-title .menu-title::after,
    .header-mini.opened .header-bottom a.menu-title::after,
    .header-mini.opened .header-bottom ul.menu-dk-title .menu-dk-title::after {
        content: "";
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        width: 10px;
        height: 10px;
        display: inline-block;
        transform: rotate(45deg);
        margin-bottom: 3px;
        margin-left: 10px;
    }

    .header-mini.opened .header-bottom ul.menu-dk-title.opened .dk-dropdown-menu .dk-sub-container {
        text-align: center;
    }
    
    .header-mini.opened .header-bottom ul.menu-dk-title.opened .dk-dropdown-menu .dk-sub-container .dk-item {
        display: inline-block;
        width: 70px;
        padding: 5px 0;
    }
    .header-mini.opened .header-bottom ul.menu-dk-title.opened .dk-dropdown-menu .dk-item .dk-picture {
        width: 45px;
        height: 45px;
    }

    .header-mini.opened .header-bottom ul.menu-dk-title.opened .dk-dropdown-menu .dk-item .dk-picture:hover {
        transform: scale(0.9);
    }

    .header-mini.opened .header-bottom ul.menu-dk-title.opened .dk-dropdown-menu .dk-item .dk-title {
        color: #ffffff;
        margin-top: 5px;
    }

    /* HEADER-MINI-TOP */

    .header-mini.opened .header-top ul.menu-title:not(.menu-image),
    .header-mini.opened .header-top a.menu-single:not(.menu-image) {
        display: block;
        padding: 10px 0;
        margin: 0 auto;
    }

    .header-mini.opened .header-top ul.menu-title .menu-text,
    .header-mini.opened .header-top ul.menu-title .menu-button,
    .header-mini.opened .header-top a.menu-single.menu-text,
    .header-mini.opened .header-top a.menu-single.menu-button {
        background-color:rgba(0, 0, 0, 0);
        color:#cccbcd;
        cursor:pointer;
        display:block;
        font-size:11.5px;
        font-weight:600;
        letter-spacing:2px;
        line-height:13px;
        padding:10px;
        text-align:center;
        text-transform:uppercase;
    }

    .header-mini.opened .header-top .single-image-inline {
        display: initial;
    }

    .header-mini-opened .header-top ul.menu-title .menu-image img,
    .header-mini.opened .header-top a.menu-single.menu-image img {
        background-color: rgba(0, 0, 0, 0);
        color: #cccbcd;
        cursor: pointer;
        display: block;
        line-height: 13px;
        margin: 0 auto;
    }

    .header-mini.opened .header-top ul.menu-title .menu-image
    .header-mini.opened .header-top a.menu-single.menu-image {
        display: inline-block;
    }

    .header-mini.opened .header-top ul.menu-title .menu-title:hover,
    .header-mini.opened .header-top ul.menu-title .menu-text:hover,
    .header-mini.opened .header-top a.menu-single.menu-text:hover {
        text-decoration: underline;
        color: #fff;
    }

    .header-mini.opened .header-top a.menu-single.menu-image {
        display: inline-block;
        margin: 5px 10px;
    }

    .header-mini.opened .header-top ul.menu-title .menu-title::after,
    .header-mini.opened .header-top a.menu-title::after {
        content: "";
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        width: 10px;
        height: 10px;
        display: inline-block;
        transform: rotate(45deg);
        margin-bottom: 3px;
        margin-left: 10px;
    }

    .header-mini.opened .header-top ul.menu-title .dropdown-menu {
        display:none;
    }

    .header-mini.opened .header-top ul.menu-title.opened .dropdown-menu {
        display: block;
        padding: 0;
    }
    
    .header-mini.opened .header-top ul.menu-title.opened .dropdown-menu {
        background-color: rgba(0, 0, 0, 0);
        color: rgb(190, 189, 191);
        cursor: pointer;
        display: block;
        font-size: 9px;
        font-weight: 500;
        letter-spacing: normal;
        line-height: 16px;
        padding: 5px 15px;
        text-align: center;
        text-transform: uppercase;
    }
}

/* FIXED MENU */

@media (max-width: 999px) {
    #fixed-menu {
        display: none;
    }
}

@media (min-width: 1000px) {
    #fixed-menu {
        position: fixed;
        margin: 0 auto;
        top: 0;
        left: 0;
        width: 100vw;
        height: 50px;
        z-index: 1;
        background-color: #0b1a25;
        box-shadow: #000000 1px 1px 10px;
        padding: 0;
        box-sizing: border-box;
    }

    #fixed-menu .fixed-menu-container {
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        text-align: right;
        font-size: 0;
    }

    #fixed-menu .fixed-menu-logo {
        position: absolute;
        top: 5px;
        left: 0;
    }

    #fixed-menu .fixed-menu-logo img {
        height: 40px;
    }

    #fixed-menu .fixed-menus {
        line-height: 1;
    }

    #fixed-menu .fixed-menus > * {
        display: inline-block;
    }

    #fixed-menu .menu-dk-title ul.dk-dropdown-menu,
    #fixed-menu .menu-title ul.dropdown-menu {
        display: none;
    }

    #fixed-menu .fixed-menus .menu-title,
    #fixed-menu .fixed-menus ul.menu-dk-title,
    #fixed-menu .fixed-menus .menu-single {
        text-transform: uppercase;
        color: #fff;
        font-weight: 600;
        font-size: 11px;
        line-height: 40px;
        letter-spacing: 1px;
        padding: 5px 10px;
        margin: 0;
    }

    #fixed-menu .fixed-menus ul.menu-dk-title a.menu-dk-title {
        text-transform: uppercase;
        color: #fff;
        font-weight: 600;
        font-size: 11px;
        letter-spacing: 1px;
    }

    #fixed-menu .fixed-menus ul.menu-dk-title:hover ul.dk-dropdown-menu {
        display: block;
    }

    #fixed-menu .dk-dropdown-menu .dk-sub-container {
        width: 100vw;
        padding: 10px;
        background-color: #0d1f2c;
        position: fixed;
        left: 0;
        text-align: center;
        top: 50px;
        z-index: 1;
        box-shadow: rgba(0, 0, 0, .5) 3px 3px 25px;
        display: inline-flex;
    }

    #fixed-menu .dk-dropdown-menu .dk-sub-container .dk-item {
        flex: 1;
    }

    #fixed-menu .dk-dropdown-menu .dk-sub-container .dk-item .dk-picture {
        width: 30px;
        height: 30px;
        margin: 0 auto;
        display: inline;
    }

    #fixed-menu .dk-dropdown-menu .dk-sub-container .dk-item .dk-picture:hover {
        transform: scale(0.9);
    }

    #fixed-menu .dk-dropdown-menu .dk-sub-container .dk-item .dk-title {
        margin-top: 4px;
        line-height: 11px;
        font-weight: 500;
        font-size: 11px;
        color: #ffffff;
        text-transform: capitalize;
        display: block;
    }

    #fixed-menu .dk-dropdown-menu {

    }

    #fixed-menu ul.menu-title:hover ul.dropdown-menu {
        display: block;
        position: absolute;
        width: max-content;
        background-color: rgba(0, 0, 0, .5);
        padding: 15px 0;
        top: 50px;
    }

    #fixed-menu ul.menu-title:hover ul.dropdown-menu li  {
        display: block;
        padding: 0;
        margin: 0;
        text-align: center;
        min-width: 150px;
    }

    #fixed-menu ul.menu-title:hover ul.dropdown-menu .menu-content {
        letter-spacing: 0;
        display: block;
        color: #fff;
        font-size: 11px;
        font-weight: 500;
        line-height: 1.1;
        text-decoration: none;
        white-space: nowrap;
        padding: 10px 15px;
        margin: 0;
    }
    
    #fixed-menu ul.menu-title:hover ul.dropdown-menu .menu-content:hover {
        background-color: #333;
        text-decoration: none;
        color: #fff;
    }
}

/* MAIN */

main {
    font-size: initial;
}

/* FOOTER */

footer {
    padding: 43px 0;
    background-color: #0d1f2c;
    background-image: url('/icons/footer-bg-pattern.png');
    background-repeat: repeat;
    box-shadow: #000 -4px -4px 12px;
}

footer .footer-logo-infos-part {
    margin-bottom: 26px;
}

footer .footer-logo {
    display: inline-block;
    max-width: 200px;
    width: 100%;
}

footer .footer-infos {
    display: inline-block;
    width: 100%;
    padding: 0 15px;
    vertical-align: top;
}

footer .footer-infos.logo {
    max-width: calc(25% - 30px);
}

footer .footer-infos.location {
    max-width: calc(25% - 30px);
}

footer .footer-infos.phone {
    max-width: calc((100% * 1/6) - 30px);
}

footer .footer-infos.mail {
    max-width: calc((100% * 1/3) - 30px);
}

footer .footer-location-ico,
footer .footer-phone-ico,
footer .footer-mail-ico {
    font-family: 'icomoon';
    display: block;
    width: 20px;
    height: 20px;
}

footer .footer-infos-text {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 2;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

footer .footer-social-part {
    display: block;
    text-align: center;
    max-width: max-content;
    margin: 0 auto 26px;
}

.footer-social-ico {
    width: 30px;
    height: 30px;
    margin: 5px 35px;
    display: inline-block;
    position: relative;
}

footer .footer-bottom-navigation {
    display: block;
    text-align: center;
}

footer .footer-trademark {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    color: #ffffff;
}

footer .footer-navigation {
    display: inline-block;
}

footer .footer-navigation-separator::before {
    content: '|';
    padding: 0 5px;
    font-size: 16px;
    color: #ffffff;
}

footer .footer-navigation-part {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    color: #ffffff;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

@media all and  (max-width: 769px) {
    footer .footer-infos.logo,
    footer .footer-infos.location,
    footer .footer-infos.phone,
    footer .footer-infos.mail {
        display: block;
        max-width: calc(100% - 30px);
        width: 100%;
        padding: 0 15px;
    }

    footer .footer-infos.logo,
    footer .footer-infos.location,
    footer .footer-infos.phone,
    footer .footer-infos.mail {
        text-align: center;
    }

    footer .footer-location-ico,
    footer .footer-phone-ico,
    footer .footer-mail-ico {
        margin: 0 auto;
    }

    footer .footer-trademark {
        display: block;
        margin-bottom: 5px;
        white-space: pre-wrap;
        overflow-wrap: anywhere;
    }

    footer .footer-navigation:first-child {
        display: none;
    }
}

@media all and  (max-width: 99px) {
    .footer-social-ico {
        margin: 5px;
    }
}

/* SLIDES */

/* slides-home */

.slides-home {
    overflow-x: hidden;
    width: 100vw;
    padding: 50px 50px 75px;
    /* background-color: #0d1f2c; */
    background-color: #0b1a25;
    position: relative;
    max-width: calc(100vw - 100px);
    height: 520px;
    /* height: 560px; */
}

.slides-home .slide {
    display: inline-block;
    /* margin-right: 60px; */
    position: relative!important;
    transition: all 0.8s ease-in-out;
    transform-style: preserve-3d;
    left: 0%!important;
    padding: 0 25px;
    vertical-align: top;
}

.slides-home .slides-clones {
    position: absolute;
    top: -147px;
    left: calc(50vw - 350px);
    right: 0;
    bottom: 0;
    width: max-content;
}

.slides-home .slides-clones .slide {
    width: 700px;
    height: 450px;
    margin: 0 auto;
    top: 197px;
    display: none;
    position: absolute;
    left: 0;
    transition: all .8s;
    right: 0;
    background-color: orange;
    z-index: 1;
}

.slides-home .slides-main {
    position: relative;
    width: 100%;
    outline: #0d1f2c;
}

.slides-home .slides-main .flickity-viewport {
    outline: #0d1f2c;
    overflow-x: hidden;
    max-width: calc(100vw - 100px);
    white-space: nowrap;
    height: max-content!important;
}

.slides-home .slides-main .flickity-viewport .flickity-slider {
    padding-bottom: 20px;
}

.slides-main .flickity-button.flickity-prev-next-button.previous,
.slides-main .flickity-button.flickity-prev-next-button.next {
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 380px;
    width: 25px;
    top: 72px;
    border: none;
    outline: transparent;
}

.slides-main .flickity-button.flickity-prev-next-button.previous {
    left: -40px;
}

.slides-main .flickity-button.flickity-prev-next-button.next {
    left: calc(100vw - 84px);
}

.slides-main .flickity-button.flickity-prev-next-button.previous:disabled,
.slides-main .flickity-button.flickity-prev-next-button.next:disabled {
    background-color: rgba(255, 255, 255, 0.05);
}

.flickity-page-dots {
    max-width: calc(100vw - 100px);
    width: 100%;
    padding: 0;
    margin: 15px 0;
    display: none;
}

.flickity-page-dots .dot {
    list-style: none;
    color: #ffffff;
    display: inline-flex;
    flex-grow: 1;
}

.slides-home .slide:hover {
    cursor: grab;
}

.slides-home .slide:active {
    cursor: grabbing;
    transform: rotateY(25deg);
    transform-style: preserve-3d;
}

.slides-home .slide:last-child {
    margin-right: 0;
}

.slides-home .slide.is-selected .slide-content {
    background: rgba(0, 0, 55, .1);
}

.slides-home .slide .slide-title {
    font-weight: 800;
    color: #ffffff;
    position: relative;
    font-size: 22px;
    text-transform: capitalize;
}

.slides-home .slide .slide-content {
    margin-top: 10px;
    padding: 94px;
    width: 700px;
    height: 380px;
    background-color: #0d1f2c;
    box-sizing: border-box;
    position: relative;
    box-shadow: rgba(0, 0, 0, .7) 7px 7px 10px;
}

.slides-home .slide .slide-content .slide-background-ico {
    position: relative;
}

.slides-home .slide .slide-content .slide-background-ico .slide-bg-img {
    width: 80px;
    height: 80px;
    position: relative;
}

.slides-home .slide .slide-content .slide-background-product {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.slides-home .slide .slide-content .slide-background-product .slide-bg-img {
    height: 320px;
    top: 30px;
    position: absolute;
    right: 15%;
}

.slides-home .slide .slide-content .slide-short-descr {
    font-weight: 800;
    color: #ffffff;
    width: 350px;
    font-size: 28px;
    margin-top: 10px;
    line-height: 34px;
    transform-style: preserve-3d;
    position: relative;
    transition: all 0.5s .2s;
    margin: 22px 0 16px 0;
}

.slides-home .slide .slide-content .slide-view-product {
    margin-left: 15px;
}

.slides-home .slide .slide-content .slide-view-detail,
.slides-home .slide .slide-content .slide-view-product {
    color: #07101d;
    font-size: 14px;
    cursor: pointer;
    margin-top: 14px;
    background: #59b7b3;
    float: left;
    padding: 12px 40px 14px 20px;
    transform-style: preserve-3d;
    position: relative;
    z-index: 2;
}

.slides-home .slide .slide-content .slide-view-detail .slide-view-detail-arrow,
.slides-home .slide .slide-content .slide-view-product .slide-view-product-arrow {
    width: 14px;
    height: auto;
    position: absolute;
    right: 20px;
    left: auto;
    top: 14px;
}

.slides-home .slide .slide-content .slide-view-detail:hover .slide-view-detail-arrow,
.slides-home .slide .slide-content .slide-view-product:hover .slide-view-product-arrow {
    right: 15px;
}

.slides-navigation {
    outline: transparent;
}

.slides-navigation .nav-slide-img {

}

.slides-navigation .flickity-prev-next-button {
    display: none;
}

/* product-view */



.product-view {
    display: none;
}

.product-view.show {
    display: block;
}

.product-view.show .close {
    position: absolute;
}

.product-view.show .close img {

}

.product-view {
    width: 0vw;
    height: 0vw;
}

.product-view.show {
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
}

.product-view.show .product-view-container {
    background-color: #0b1a25;
    width: 80%;
    min-height: 550px;
    position: absolute;
    top: 10%;
    left: 10%;
    box-shadow: #59b7b3 0px 0px 25px;
}

.slides-home .product-view-container .product-view-img {
    width: 20%;
    height: 90%;
    margin-top: 5%;
    margin-left: 5%;
    display: inline-block;
    vertical-align: top;
}

.slides-home .product-view-container .product-view-img img {
    height: 80%;
    position: relative;
    margin: 0 auto;
    display: block;
    top: 10%;
}

.slides-home .product-view-container .product-view-details {
    display: inline-block;
    vertical-align: top;
    margin: 5%;
    height: 90%;
    width: 65%;
}

.slides-home .product-view-container .product-view-details .product-view-title {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
}

.slides-home .product-view-container .product-view-details .product-view-descr {
    color: #fff8;
    font-size: 13px;
    font-weight: 300;
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 1.3;
    max-height: 30%;
    height: 100%;
}

.slides-home .product-view-container .product-view-details .product-view-cards {
    max-height: 55%;
    height: 100%;
    margin-top: 5%;
}

/* .slides-home .product-view-container . {
    
} */

/* CLINICAL STUDIES */

.clinical-studies {
    padding: 50px 0;
    background-image: url('/icons/home/media-bg.jpg');
}

.clinical-studies .studies {
    width: 100%;
    max-width: 430px;
    margin: 0;
    text-align: center;
}

.clinical-studies .studies .title {
    padding: 0 0 30px;
    font-size: 35px;
    color: #313131;
    font-weight: 600;
    margin: 0;
    padding: 0 0 50px;
    text-transform: uppercase;
    text-align: left;
    line-height: 40px;
    letter-spacing: 2px;
    transition: all .3s ease;
}

.clinical-studies .studies .content {
    width: 100%;
    max-width: 300px;
}

.clinical-studies .studies .content img {
    width: 100%;
    display: block;
    padding-bottom: 10px;
    transition: all .3s ease;
}

.clinical-studies .studies .content a {
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    background-image: url('/icons/home/back-button.png');
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 15px 25px;
    border-radius: 0;
    width: auto;
}

@media screen and (max-width: 900px) {
    .clinical-studies .studies .title {
        font-size: 24px;
        line-height: 30px;
        letter-spacing: normal;
        padding-bottom: 30px;
    }
}

/* FOLLOW INSTAGRAM */

.follow-instagram {
    padding: 80px 0;
    background-color: #0b1a25;
}

.follow-instagram h2 {
    font-size: 35px;
    color: #59b7b3;
    font-weight: 600;
    margin: 0;
    padding: 0 0 50px;
    text-transform: uppercase;
    text-align: left;
    line-height: 40px;
    letter-spacing: 2px;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

.follow-instagram h2 a {
    background-color:rgba(0, 0, 0, 0);
    border-color:rgb(49, 49, 49);
    border-bottom:none;
    border-width:0px;
    border-image-outset:0;
    border-image-repeat:stretch;
    border-image-slice:100%;
    border-image-source:none;
    border-image-width:1;
    box-sizing:border-box;
    color: #59b7b3;
    cursor:pointer;
    display:inline;
    font-size:35px;
    font-style:normal;
    font-weight:600;
    letter-spacing:2px;
    line-height:40px;
    text-align:left;
    text-decoration-color:rgb(49, 49, 49);
    text-decoration-line:none;
    text-decoration-style:solid;
    text-size-adjust:100%;
    text-transform:uppercase;
    touch-action:manipulation;
    vertical-align:baseline;
    width:auto;
}

.follow-instagram .wrapper {
    margin: 0;
    padding: 0 15px 10px;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    height: 100%;
    max-height: calc((90vw - 30px) / 4);
    overflow: hidden;
}

.follow-instagram .wrapper .elem {
    width: 25%;
    display: inline-block;
    float: left;
    vertical-align: top;
    zoom: 1;
    max-height: 1000px;
    margin: 0!important;
    text-decoration: none;
    opacity: 1;
    overflow: hidden;
    box-sizing: border-box;
    transition: all .3s ease;
}

.follow-instagram .wrapper .elem img {
    width: 100%;
    height: calc((90vw - 30px) / 4);
    display: block;
    padding: 0!important;
    margin: 0!important;
    max-width: 100%!important;
    opacity: 1!important;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    .follow-instagram h2 a {
        font-size: 24px;
    }

    .follow-instagram .wrapper {
        max-height: calc(90vw - 30px);
    }

    .follow-instagram .wrapper .elem {
        width: 50% !important;
    }

    .follow-instagram .wrapper .elem img {
        height: calc((90vw - 30px) / 2);
    }
}

/* GET STARTED */

.get-started {
    background-color: #0d1f2c;
    padding: 23px;
}

.get-started p {
    color: #59b7b3;
    font-size: 12px;
    line-height: 17px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 8px;
    letter-spacing: 0.02em;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    text-align:center;
}

.get-started h2 {
    color: #fff;
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 30px;
    font-weight: bold;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    text-align:center;
}

.get-started a {
    background-image: url('/icons/home/button_white.svg');
    background-color:rgba(0, 0, 0, 0);
    /* background-color: #fff; */
    background-size: 95%;
    background-position: 50%;
    border-image-outset:0;
    border-image-repeat:stretch;
    border-image-slice:100%;
    border-image-source:none;
    border-image-width:1;
    border-color:rgb(89, 183, 179);
    border-style:none;
    border-width:0px;
    box-sizing:border-box;
    color:rgb(89, 183, 179);
    cursor:pointer;
    display:block;
    font-size:12px;
    font-weight:400;
    height:29px;
    letter-spacing:1.5px;
    line-height:17px;
    margin:10px auto;
    max-width:200px;
    min-width:148px;
    padding:6px 8px;
    text-align:center;
    text-decoration-color:rgb(89, 183, 179);
    text-decoration-line:none;
    text-decoration-style:solid;
    text-size-adjust:100%;
    text-transform:uppercase;
    touch-action:manipulation;
    vertical-align:baseline;
    width:200px;
    transition: all .3s ease;
}

.get-started a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    .get-started h2 {
        font-size: 20px;
    }
}