/* FOOTER */

footer {
    padding: 40px 0;
    background-color: #0d1f2c;
    background-repeat: repeat;
    box-shadow: #000000a8 -4px -4px 12px;
    position: relative;
    line-height: 1;
    min-height: 240px;
}

footer .footer-logo-infos-part {
    margin-bottom: 26px;
}

footer .footer-logo {
    display: inline-block;
    max-width: 200px;
    width: 100%;
}

footer .footer-infos {
    display: inline-block;
    width: 100%;
    padding: 0 15px;
    vertical-align: top;
}

footer .footer-infos.logo {
    max-width: calc(25% - 30px);
}

footer .footer-infos.address {
    max-width: calc(25% - 30px);
}

footer .footer-infos.phone {
    visibility: hidden;
    max-width: calc((100% * 1/6) - 30px);
}

footer .footer-infos.mail {
    max-width: calc((100% * 1/3) - 30px);
}

footer .footer-address-ico,
footer .footer-phone-ico,
footer .footer-mail-ico {
    font-family: 'icomoon';
    display: block;
    width: 20px;
    height: 20px;
}

footer .footer-infos-text {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 2;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

footer .footer-social-part {
    display: block;
    text-align: center;
    max-width: max-content;
    margin: 0 auto 26px;
}

.footer-social-ico {
    width: 30px;
    height: 30px;
    margin: 5px 35px;
    display: inline-block;
    position: relative;
}

footer .footer-bottom-navigation {
    display: block;
    text-align: center;
}

footer .footer-trademark {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    color: #ffffff;
}

footer .footer-navigation {
    display: inline-block;
}

footer .footer-navigation-separator::before {
    content: '|';
    padding: 0 5px;
    font-size: 16px;
    color: #ffffff;
}

footer .footer-navigation-part {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    color: #ffffff;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

@media (max-width: 769px) {

    footer {
        min-height: 450px;
    }

    footer .footer-infos.logo,
    footer .footer-infos.address,
    footer .footer-infos.phone,
    footer .footer-infos.mail {
        display: block;
        max-width: calc(100% - 30px);
        width: 100%;
        padding: 0 15px;
    }

    footer .footer-infos.logo,
    footer .footer-infos.address,
    footer .footer-infos.phone,
    footer .footer-infos.mail {
        text-align: center;
    }

    footer .footer-address-ico,
    footer .footer-phone-ico,
    footer .footer-mail-ico {
        margin: 15px auto 0;
    }

    footer .footer-trademark {
        display: block;
        margin-bottom: 5px;
        white-space: pre-wrap;
        overflow-wrap: anywhere;
    }

    footer .footer-navigation:first-child {
        display: none;
    }
}

@media (max-width: 99px) {
    .footer-social-ico {
        margin: 5px;
    }
}